.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: var(--header-height);
}

.header__logo,
.header__logo img {
    width: auto;
    height: 100%;
}

.nav__button button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.nav__list {
    background-color: rgba(255, 255, 255, 0.1);
    list-style-type: none;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    overflow: hidden;
    transition: all .1s ease;
}

.nav__list-link {
    border-bottom: 1px solid #747474;
}

.nav__list-link:hover {
    color: #747474;
}

.nav__list-link {
    display: block;
    padding: 19px 10px;
    text-decoration: none;
    color: #fff;
    /* height: 240px; */
}

.nav__list-item:last-child .nav__list-link {
    border-bottom: none;
}


/*Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .header__logo {
        position: absolute;
        transform: translate(-50%, -31px);
        left: 50%;
        top: 0;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-bottom: none;
    }
    /* menu */
    .nav {
        width: 100%;
    }
    .nav__button {
        display: none;
    }
    .nav__list {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
        text-align: center;
        justify-items: normal;
        justify-content: center;
        position: static;
        height: 100%;
    }
    .nav__list-item:nth-child(3) {
        grid-column: 4 / 5;
    }
    .nav__list-link {
        padding: 8px;
        border-bottom: none;
    }
    .nav__list-item:nth-child(odd) {
        border-right: 1px solid rgba(255, 255, 255);
    }
}